/**
 * Styles for demo
 */

/* All sizes */
html {
    font-size: 100%;
}

body {
    background: #f5f5f5;
}

.container {
    background: #fff;
    margin: 0 auto;
    width: 85%;
    padding: 1.6rem;
    box-sizing: border-box;
}

.content {
    min-height: 50rem;
}

.content h2 {
    margin-top: 2.4rem;
    font-size: 1.2rem;
}

#log {
    padding-left: 1.6rem;
}

footer,
footer .container {
    background: #ddd;
    color: #666;
}

footer p {
    font-size: 0.8rem;
}

footer p img {
    vertical-align: top;
}

footer a {
    color: #333;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
  
/**
 * Extra small
 */
@media screen and (max-width: 32em) {
  
    body {
        background: #ecf3ec;
    }
    
    .container {
        width: auto;
        padding: 1.6rem 0.8rem;
    }
    
    footer,
    footer .container {
        background: #d7e7d8;
    }
  
}
  
/**
 * Small
 */
@media screen and (min-width: 32em) and (max-width: 45em) {
  
    body {
        background: #f3f6eb;
    }
    
    .container {
        width: 95%;
    }
    
    footer,
    footer .container {
        background: #e6eed4;
    }
  
}
  
/**
 * Medium
 */
@media screen and (min-width: 45em) and (max-width: 75em) {

    html {
        font-size: 112.5%;
    }
  
    body {
        background: #fef9ed;
    }
    
    .container {
        width: 90%;
    }
    
    footer,
    footer .container {
        background: #fdf3d7;
    }
  
}
  
/**
 * Large
 */
@media screen and (min-width: 75em) and (max-width: 120em) {

    html {
        font-size: 125%;
    }
    
    body {
        background: #fdf2ea;
    }
    
    .container {
        width: 85%;
    }
    
    footer,
    footer .container {
        background: #fde3d1;
    }
    
}
  
/**
 * Extra large
 */
@media screen and (min-width: 120em) {

    html {
        font-size: 150%;
    }
    
    body {
        background: #fceae9;
    }
    
    .container {
        width: 80%;
        max-width: 64rem;
    }
    
    footer,
    footer .container {
        background: #fdd4d0;
    }
    
}
