/**
 * Desktop
 */

/* Anzeixer */
body:after {
  content: 'desktop';
  position: fixed;
  bottom: -50px;
  left: 0;
  z-index: 1000;
  background: #fc0;
  padding: 0.4em;
  /* display: none; */
  /* display none currently doesn't work in Chrome 33
     http://code.google.com/p/chromium/issues/detail?id=341120
     the following is a (hopefully temporary) workaround
   */
  visibility: hidden;
}
body.dev:after {
  visibility: visible;
  bottom: 0;
}

/* Your styles */
body {
  background: #f3e7d3;
  font-size: 0.9375em;
}
.container {
  background: #fff;
  margin: 0 auto;
  width: 63.2em;
  padding: 1.6em;
}
#content {
  min-height: 50em;
}
#content h2 {
  margin-top: 2.4em;
  font-size: 1.2em;
}
#log {
  padding-left: 1.6em;
}
footer,
footer .container {
  background: #ddd1bb;
  color: #666;
}
footer p {
  font-size: 0.8em;
}
footer p img {
  vertical-align: top;
}
footer a {
  color: #333;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

/**
 * Tablet
 */
@media screen and (min-width: 768px) and (max-width: 999px) {

  /* Anzeixer */
  body:after {
    content: 'tablet';
    background: #f90;
  }

  /* Your styles */
  body {
    background: #e2c9bd;
  }
  .container {
    width: 47em;
  }
  footer,
  footer .container {
    background: #c6ac9e;
  }

}


/**
 * Phone landscape
 */
@media screen and (min-width: 511px) and (max-width: 767px) {

  /* Anzeixer */
  body:after {
    content: 'phone-landscape';
    background: #cf0;
  }

  /* Your styles */
  body {
    background: #f2fce1;
  }
  .container {
    width: 30.8em;
  }
  footer,
  footer .container {
    background: #e6f1d3;
  }

}


/**
 * Phone portrait
 */
@media screen and (max-width: 510px) {

  /* Anzeixer */
  body:after {
    content: 'phone-portrait';
    background: #9f0;
  }

  /* Your styles */
  body {
    background: #e7fade;
  }
  .container {
    width: auto;
    padding: 1.6em 0.8em;
  }
  footer,
  footer .container {
    background: #d6ebcc;
  }

}
