/*! Anzeixer v2.1 | MIT License | github.com/zeixcom/Anzeixer */

/* All screen sizes */
@media screen {
  
  body:after {
    content: 'l'; /* assume 1024px width for browsers not supporting media queries */
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: #eee;
    padding: 0.4em;
    display: none;
  }
  
  body.dev:after {
    display: block;
  }

}

/**
 * Rotate Anzeixer label in portrait orientation
 */
@media screen and (orientation: portrait) {
  
  body.dev:after {
    -webkit-transform: rotate(-90deg) translateY(100%);
    -webkit-transform-origin: bottom left;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
  }

}

/**
 * Extra small
 */
@media screen and (max-width: $view-xs-max) {
  
  body:after {
    content: 'xs';
    background: #aad2ae;
  }
  
}

@media screen and (max-width: $view-xs-max) and (orientation: portrait) {
  body:after { content: 'xs portrait'; }
}

@media screen and (max-width: $view-xs-max) and (orientation: landscape) {
  body:after { content: 'xs landscape'; }
}

/**
 * Small
 */
@media screen and (min-width: $view-s-min) and (max-width: $view-s-max) {

  body:after {
    content: 's';
    background: #cbdd9e;
  }

}

@media screen and (min-width: $view-s-min) and (max-width: $view-s-max) and (orientation: portrait) {
  body:after { content: 's portrait'; }
}

@media screen and (min-width: $view-s-min) and (max-width: $view-s-max) and (orientation: landscape) {
  body:after { content: 's landscape'; }
}

/**
 * Medium
 */
@media screen and (min-width: $view-m-min) and (max-width: $view-m-max) {

  body:after {
    content: 'm';
    background: #ffe6a0;
  }

}

@media screen and (min-width: $view-m-min) and (max-width: $view-m-max) and (orientation: portrait) {
  body:after { content: 'm portrait'; }
}

@media screen and (min-width: $view-m-min) and (max-width: $view-m-max) and (orientation: landscape) {
  body:after { content: 'm landscape'; }
}

/**
 * Large
 */
@media screen and (min-width: $view-l-min) and (max-width: $view-l-max) {
  
  body:after {
    content: 'l';
    background: #ffc499;
  }
  
}

@media screen and (min-width: $view-l-min) and (max-width: $view-l-max) and (orientation: portrait) {
  body:after { content: 'l portrait'; }
}

@media screen and (min-width: $view-l-min) and (max-width: $view-l-max) and (orientation: landscape) {
  body:after { content: 'l landscape'; }
}

/**
 * Extra large
 */
@media screen and (min-width: $view-xl-min) {
  
  body:after {
    content: 'xl';
    background: #ffa49d;
  }
  
}

@media screen and (min-width: $view-xl-min) and (orientation: portrait) {
  body:after { content: 'xl portrait'; }
}

@media screen and (min-width: $view-xl-min) and (orientation: landscape) {
  body:after { content: 'xl landscape'; }
}
